#title {
  background-color: #ff4c68;
  color: white;
  
}
h1{
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  
}
.row{
  padding: 3rem;
  margin: 2rem;
}
.container-fluid{
  padding: 3% 15%;
 

}

body{
   font-family: 'Montserrat', sans-serif;
}
.navbar{
  

}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  
}
.nav-item{
  padding: 0px 18px;
}
.nav-link{
  font-size: 1.5rem;
}
.download-button{
  margin: 5% 3% 5% 0%;
}
.title-image{
  width: 75%;
  transform: rotate(25deg);
  padding: 20px;
  margin-bottom: 25px;
  margin-left: 40px;
  right:2rem;

  

}
h3{
  font-family: montserrat Black 900 italic;
  font-size: 1.5rem;
  
}
#features{
  padding: 3% 15%;
 
}
.feature-box{
  text-align: center;
  padding: 10%;
}
p{
  color: grey;
  margin-top: 1.5rem;
}
.good-option{
  color: #ef8172;
  margin-bottom: 2rem;
}
.good-option:hover{
  color: #ff4c68;
}
#testimonials{
  
  text-align: center;
  background-color: #ef8172;
  color: #fff


}
.container-fluid{
  padding-bottom: 0rem;
}
h2{
  padding: 5%;
  margin-bottom: 1rem;
  text-align: center;
}
.west-delhi{
  width: 20%;
  border-radius: 100%;

}
#press{
  background-color: cyan;
  padding: 7% 15%;
  margin: 2rem;
  text-align: center;
}
.tech{
  width: 15%;
  margin: 1rem;
  
}
.carousel-item{
  padding: 7% 15%;
}
.cris-btn{
  width: 60%;
  text-align: center;
  border-radius: 1rem;

}
.dog{
  text-align: center;
  margin-top: 0rem;
  padding: 0%;
}
.pricing{
  padding-bottom: 0rem;
}
#pricing{
  text-align: center;
  padding-bottom: 0rem;
  
}
.custom-class{
  padding: 1rem;
}
#cta{
  background-color: #ff4c68;
  padding: 7% 15%;
  margin: 3rem;
  text-align: center;

}
.btc{
  text-align: center;
  
}
#footer{
  text-align: center;
}