#title {
  background-color: #ff4c68;
  color: white;
  
}
h1{
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  
}
.row{
  padding: 3rem;
  margin: 2rem;
}
.container-fluid{
  padding: 3% 15%;
 

}

body{
   font-family: 'Montserrat', sans-serif;
}
.navbar{
  position: absolute;
  left: 0;top: 0;right: 0;
  padding:0 0.5rem;
} 
.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  padding: 10px 5px;
  font-size: 2.5rem;
  
}
.nav-item{
  padding: 0px 18px;
}
.nav-link{
  font-size: 1.5rem;
}
.download-button{
  margin: 5% 3% 5% 0%;
}
.title-image{
  width: 75%;
  transform: rotate(25deg);
  padding: 20px;
  margin-bottom: 25px;
  margin-left: 40px;
  right:2rem;

  

}
h3{
  font-family: montserrat Black 900 italic;
  font-size: 1.5rem;
  
}
#features{
  padding: 3% 15%;
 
}
.feature-box{
  text-align: center;
  padding: 10%;
}
p{
  color: grey;
  margin-top: 1.5rem;
}
.good-option{
  color: #ef8172;
  margin-bottom: 2rem;
}
.good-option:hover{
  color: #ff4c68;
}
#testimonials{
  
  text-align: center;
  background-color: #ef8172;
  color: #fff


}
.container-fluid{
  padding-bottom: 0rem;
}
h2{
  padding: 5%;
  margin-bottom: 1rem;
  text-align: center;
}
.west-delhi{
  width: 20%;
  border-radius: 100%;

}
#press{
  background-color: #ffff;
  padding: 7% 15%;
  margin: 2rem;
  text-align: center;
}
.tech{
  width: 15%;
  margin: 1rem;
  
}
.carousel-item{
  padding: 7% 15%;
}
.cris-btn{
  width: 60%;
  text-align: center;
  border-radius: 1rem;

}
.dog{
  text-align: center;
  margin-top: 0rem;
  padding: 0%;
  color: #ffff;
}
.pricing{
  padding-bottom: 0rem;
  color: #ffff;
}
#pricing{
  text-align: center;
  padding-bottom: 0rem;
  background-color: #FF4C68;
}
.custom-class{
  padding: 1rem;
}
#cta{
  background-color: #ffff;
  padding: 7% 15%;
  margin: 3rem;
  text-align: center;

}
.btc{
  text-align: center;
  
}
#footer{
  text-align: center;
}
.cardds-list {
  z-index: 0;
  width: 105%;
 
    display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardd {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  background-color: #fc5296;
background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 

  border-radius: 40px;
box-shadow:  -4px -4px 20px 5px rgba(0,0,0,0.18);
  cursor: pointer;
  transition: 0.4s;
}

.cardd .cardd_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.cardd .cardd_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.cardd .cardd_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
letter-spacing: 0.2px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: overline solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;
  font-weight: bold;
  font-size: 40px;
  margin-top: -90px;
  
  height: 40px;
}

.cardd:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/
